body {
    background-color: hsl(212, 45%, 89%);
}

body .qr-card {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 25%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
}

body .qr-card-contents {
    padding: 20px;
    
    text-align: center;
}

body .qr-card-title {
    color: hsl(218, 44%, 22%);
    font-size: 25px;
}

body .qr-card-subtitle {
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }